version: 2.1

jobs:
  test_3_2:
    docker:
      - image: cimg/ruby:3.2
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: bundle install
      - run:
          name: Run tests
          command: bundle exec rake
  test_3_3:
    docker:
      - image: cimg/ruby:3.3
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: bundle install
      - run:
          name: Run tests
          command: bundle exec rake
  test_3_4:
    docker:
      - image: cimg/ruby:3.4
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: bundle install
      - run:
          name: Run tests
          command: bundle exec rake
  test_4_0:
    docker:
      - image: cimg/ruby:4.0
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: bundle install
      - run:
          name: Run tests
          command: bundle exec rake

workflows:
  version: 2
  deploy:
    jobs:
      - test_3_2
      - test_3_3
      - test_3_4
      - test_4_0
